.bodyPad {padding-bottom: 200px;}
.uwecheader{width:98%;}
.uwecFooterFont{font-size: small;}
.portraitDisplay{height: 1575px;}
.responsiveText{font-size: small;}
.centeredText{text-align:center;}
.boldText{font-weight: bold;}
.modalImage{width:100%;}

.centerContent{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:1%;
}

.content{
    margin-left: auto;
    margin-right: auto;
	width:98%;
}

.carouselText{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tempImageCSS{
	max-height: 700px;
	min-height: 700px;
	margin: auto;    		
}

.carouselContent{
	max-height: 200px;
	min-height: 200px;
	margin: auto;    		
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

}

@media only screen and (min-width: 768px) {
    /* Large screens: */
    [class*="uwecFooterFont"] {
		font-size: xx-large;
		font-weight: bold;
    }
	[class*="responsiveText"] {
		font-size: large;	
		margin: 0 auto;		
    }
	[class*="carouselContent"] {
		max-height: 600px;
		min-height: 600px;
		margin: auto; 
    }
	[class*="bodyPad"] {
		padding-bottom: 90px;
    }
}