
<!-- ----------------------------------Library Places--------------------------------------------------------------- -->
<!-- Copy the primary floor map, and replace the areas that have the comments on them -->

<!-- Lower Level -->
<div id="base" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lower Level</h4> <!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/lower/base.png"/>  <!-- Change to point at new location-->
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>
  </div>
</div>

<!-- Makerspace -->
<div id="makers" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Makerspace</h4> <!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/lower/makers.png"/>  <!-- Change to point at new location-->
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>
  </div>
</div>

<!-- First Floor -->
<div id="first" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">First Floor</h4> <!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/first.png"/>  <!-- Change to point at new location-->
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>
  </div>
</div>

<!-- Tvaruzka -->
<div id="tvaruzka" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Kati Golden</h4> <!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/tvaruzka.png"/>  <!-- Change to point at new location-->
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>
  </div>
</div>

<!-- First Floor Bathroom-->
<div id="bathroom" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">First Floor - Restrooms</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/bathroom.png"/>
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Reference Department-->
<div id="reference" class="modal fade" role="presentation"> 
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Research & Instruction/Reference</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/reference.png"/> 
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Second Floor -->
<div id="second" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Second Floor</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        		
		<img class="modalImage" src="./images/library/second/second.png"/> <!-- Change to point at new location-->
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- 2003B -->
<div id="2003B" class="modal fade" role="presentation">
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Writing Center</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/second/2003B.png"/>
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Writing Center -->
<div id="writingCenter" class="modal fade" role="presentation">
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Writing Center</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/second/writingCenter.png"/>
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Honors -->
<div id="honors" class="modal fade" role="presentation">
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Honors</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/second/honors.png"/>
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Third Floor -->
<div id="third" class="modal fade" role="presentation"><!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Third Floor</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/third/third.png"/>	<!-- Change to point at new location-->	
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Director's Office -->
<div id="directorsOffice" class="modal fade" role="presentation"><!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Director's Office</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/third/directorsOffice.png"/>	<!-- Change to point at new location-->	
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Conference Room -->
<div id="conference" class="modal fade" role="presentation">
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Library Conference Room (3020)</h4>
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/third/conference.png"/>
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Fourth Floor -->
<div id="fourth" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fourth Floor</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/fourth/fourth.png"/><!-- Change to point at new location-->		
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Fifth Floor -->
<div id="fifth" class="modal fade" role="presentation"><!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fifth Floor</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/fifth/fifth.png"/>		<!-- Change to point at new location-->	
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
      </div>	  
    </div>
  </div>
</div>

<!-- Special Collections & Archives -->
<div id="specialCollections" class="modal fade" role="presentation"><!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Special Collections & Archives</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/fifth/specialCollections.png"/><!-- Change to point at new location-->	
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- Rest Nest -->
<div id="restnest" class="modal fade" role="presentation"><!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rest Nest (5011)</h4><!-- Update Header if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/library/first/elevator.png"/>
		<img class="modalImage" src="./images/library/fifth/lossPrevention.png"/><!-- Change to point at new location-->	
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>	  
    </div>
  </div>
</div>

<!-- ----------------------------------Campus Places--------------------------------------------------------------- -->
<!-- Davies -->
<div id="davies" class="modal fade" role="presentation"> <!-- Change the ID -->
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Davies Center</h4><!-- Update HEader if one is desired -->
      </div>	  
      <div class="modal-body">        
		<img class="modalImage" src="./images/campus/davies.png"/> <!-- Change to point at new location-->
		<img class="modalImage" src="./images/campus/daviesFloors.png"/> 
      </div>	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	  
    </div>

  </div>
</div>