<nav class="navbar navbar-inverse navbar-fixed-bottom uwecFooterFont" role="navigation">			
	<ul class="nav navbar-pills nav-justified">
		<li><a href="index.html">Home</a></li>
		<li><a href="calendar.html">Library Calendar</a></li>				
		<li><a href="bus.html">Bus Locations</a></li> 
		<li><a href="directions.html">Maps and Directions</a></li> 
		<li><a href="directory.html">Faculty Directory</a></li> 
	</ul>	
	<script>
	$(function(){
		$('a').each(function() {		  
		if ($(this).prop('href') == window.location.href) {
		  $(this.parentNode).addClass('active');
		}
		});
	});
	</script>	
</nav>	