<img class="centerContent uwecheader" src="./images/logo.png"/>

	<div class="row responsiveText centerContent">
		<div id="title" class="col-md-4 text-center">		
			<div id="city"></div>			
			<div id="sky-text" class="display"></div>			
		</div>
		<div id="currImg" class="col-md-4">		
			<img id ="curr-image" class="center-block img-responsive" src=""/>			
		</div>		
		<div id="temp" class="col-md-4 text-center">
			<div id="temp-text" class="display"></div>
			<div id="wind-text" class="display"></div>
		</div>	
	</div>
